.notification {
  padding: 10px 0px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-out; /* Fade-out transition */
  opacity: 0.8;
  border: 3px double black;
  max-width: 20dvw;
  text-wrap: pretty;
}
.notification p {
  padding: 0px 10px;
  margin: 0;
}
.notification h1 {
  padding: 0px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 0px;
  line-height: 115%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.notification hr {
  border-color: black;
  padding: 0px;
  margin: 0px;
}
.notification:hover {
  opacity: 1;
}
/* Define styles for different notification levels */
.high {
  background-color: lightcoral; /* Red background for high level */
}
.medium {
  background-color: orange; /* Orange background for medium level */
}
.low {
  background-color: #f5f5f5; /* White background for low level */
}

.notification-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  align-items: end;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: fit-content;
  max-height: 100dvh;
  width: fit-content;
}
